.container_content{
      margin: 20px 0px;
    width:100%;
 
}

.container_content>.Movingcontent{
    animation: moveLeftToRight 2s linear infinite alternate ;
    color:red;
    scroll-behavior: none;
    font-size: 18px;
    line-height: 1.5;
    width: 90%;
    z-index:10;
}
@keyframes moveLeftToRight {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  }
 .container_content>hr{
    height: 1vh;
    background-color: black;
    margin-top:1rem;
}



.container_content>.About_pic_content{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 0px 2rem;
}
.About_pic_content>.aboutpage{
  width: 46%;
    text-align: center;
}
.About_pic_content>.aboutpage>h1{
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 900;
}
.About_pic_content>.aboutpage>p{
  line-height: 1.3;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  opacity: .7;
}
.About_pic_content>.aboutpage>.aboutpageButton
{
    width: 200px;
    height: 10vh;
    background: linear-gradient(to right, black 50%, red 50%);
    transition: background 1s ease-out;
    background-size: 200% 100%;
    margin: 40px 0% 30px 0%;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}
.About_pic_content>.aboutpage>.aboutpageButton:hover {
    background-position: 100%;
  }



  .About_pic_content>.relative_pics{
    width: 40%;
    padding-left: 45px;
    padding-top: 2rem;
  }
  .About_pic_content>.relative_pics>.innercontentdata{
    border: 1px solid black;
    width: 19rem;
    height: auto;
    text-align: center;
}
.About_pic_content>.relative_pics .slide-image{
  width: 301px;
  height: 270px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.relative_pics>.innercontentdata>.box2{
  display: none;
}




.About_pic_content>.relative_pics>.innercontentdata>.box1>.contextinfo{
  width: 100%;
  height:auto;
  padding-bottom:30px;
  padding-top: 10px ;
  transform: translate(0px , -2px);
}

.About_pic_content>.relative_pics>.innercontentdata>.box1>.contextinfo:hover{
  background-color:rgb(62, 178, 224);
  color: #fff;
  
  }
  .About_pic_content>.relative_pics>.innercontentdata>.box1>.contextinf>.name{
  margin-bottom: 10px;
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .About_pic_content>.relative_pics>button{
  height: 8vh;
  width: 50px;
  z-index: 10;
  position: absolute;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  opacity: .5;
  border: 1px solid gray;
  }
  .About_pic_content>.relative_pics>button:hover{
      background-color: blue;
      color: #fff;
  }
  .About_pic_content>.relative_pics>.leftbtn{
  top: 53rem;
  left:1.6rem;
  }
  .About_pic_content>.relative_pics>.rightbtn{
      top: 53rem;
      left:23.7rem;
      right: auto;
  }

  @media screen and (max-width:963px) {
    
    .About_pic_content>.aboutpage>.aboutpageButton
    {
        width: 200px;
        height: 7vh;
       transition: .5s ease-in-out;
        margin: 20px 0% 15px 0%;
        font-size: 20px;
   
    }
  }
  @media screen and (max-width:800px){
    .relative_pics>.innercontentdata>.box2{
      display: block;
    }
    .container_content>.About_pic_content{
      flex-direction: column;
      padding: 0px 0rem;
      width: 100%;
    }
 .About_pic_content>.relative_pics{
    width:100%;
    padding-left: 0px;
  }
  .About_pic_content>.relative_pics>.innercontentdata{
    width:100%;
    display: flex;
}
.About_pic_content>.relative_pics .slide-image{
  width:100%;
  height:auto;
}
.About_pic_content>.relative_pics>.leftbtn{
  top: 78rem;
  left: 0rem;
  }
  .About_pic_content>.relative_pics>.rightbtn{
      top: 78rem;
      right:0rem;
      left:auto;
  }

  .About_pic_content>.aboutpage{
    width: 95%;
      text-align: center;
      margin: auto;
      margin-top: 2rem;
  }
  }
  @media screen and (max-width:780px){
    .container_content>.Movingcontent{
      width: 80%;
  }
  }
  @media screen and (max-width:780px){
    .container_content>.Movingcontent{
      width: 75%;
  }
  .About_pic_content>.relative_pics>.leftbtn{
    top: 75rem;
    }
    .About_pic_content>.relative_pics>.rightbtn{
        top: 75rem;
    }
  
  }
  @media screen and (max-width:440px){
    .relative_pics>.innercontentdata>.box2{
      display: none;
    }
    .relative_pics>.innercontentdata>.box1{
      display: block;
      width: 100%;
    }
    .About_pic_content>.relative_pics .slide-image{
      width: 100%;
      height: 250px;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
    }
    .container_content>.Movingcontent{
      width: 70%;
  }
  .About_pic_content>.relative_pics>.leftbtn{
    top: 72rem;
    }
    .About_pic_content>.relative_pics>.rightbtn{
        top: 72rem;
    }
  }
  @media screen and (max-width:350px){
 

.About_pic_content>.relative_pics>.leftbtn{
  top: 75rem;
  }
  .About_pic_content>.relative_pics>.rightbtn{
      top: 75rem;
  }
  .container_content>hr{
    height:0rem;
    background-color: black;
    margin-top:1rem;
    margin-bottom: 0px;
    width:95%;
}
.container_content>.About_pic_content{
  margin-top: .5rem;

}
    
  }