@import '@fortawesome/fontawesome-free/css/all.css';
.fruitchat{
    padding-top: 8rem;
    width: 100%;
    margin: auto;

    padding-left: 8rem;
}
.fruitchat>h1{
margin-bottom: 3rem;
}
.fruitchat>.fruitchatouter{
    width: 90%;
    height: auto;
    background-color: rgba(255, 239, 192, 0.413);
    padding: 5rem 0%;
}

.fruitchat>.fruitchatouter>.fruitchatinner{
    width: 80%;
    margin: auto;
}
.fruitchat>.fruitchatouter>.fruitchatinner>img{
    width:100%;
}
.fruitchat>.fruitchatouter>.fruitchatinner>p{
    margin: 3rem 0%;
    font-size: 25px;
    font-weight: 550;
}
.fruitchat>.fruitchatouter>.fruitchatinner>hr{
    opacity: .3;
    margin-bottom: 3rem;
}
.fruitchat>.fruitchatouter>.fruitchatinner>.listitem{
    margin-bottom: 2rem;
}

.fruitchat>.fruitchatouter>.fruitchatinner>.listitem>p{
    font-size:30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fruitchat>.fruitchatouter>.fruitchatinner>.listitem>ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    margin-top: 2rem;
}
.fruitchat>.fruitchatouter>.fruitchatinner>.listitem>ul>li{
    margin: .5rem 0%;
}
.fruitchat>.fruitchatouter>.fruitchatinner>.listitem>ul>li>.fa-check{
    margin-right: 30px;
    color: red;
    font-weight: 900;
}
.fruitchat>.fruitchatouter>.fruitchatinner>.instructions>p{
    margin: 3rem 0%;
    font-size: 25px;
    font-weight: 550;
}
.fruitchat>.fruitchatouter>.fruitchatinner>.instructions>ul{
    list-style-type: none;
}
.fruitchat>.fruitchatouter>.fruitchatinner>.instructions>ul>li{
    margin: 1.8rem;
    display: flex;
    align-items: center;
   
}
.fruitchat>.fruitchatouter>.fruitchatinner>.instructions>ul>li>span{
    width: 50px;
    height: 50px;
    background-color: red;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.fruitchat>.fruitchatouter>.fruitchatinner>.instructions>ul>li>p{
  width: 100%;  
}



@media screen and (max-width:1029px) {
    .fruitchat>.fruitchatouter{
        width:95%;   
    }
    .fruitchat{
        padding-left: 3rem;
    }
}
@media screen and (max-width:912px) {
    .fruitchat>.fruitchatouter>.fruitchatinner{
        width: 95%;
        margin: auto;
    }
}
@media screen and (max-width:765px) {
    .fruitchat{
        padding-left: .2rem;
    }
    .fruitchat>.fruitchatouter{
        width:100%;   
    }
    .fruitchat>.fruitchatouter>.fruitchatinner>.listitem>ul{
        display: block;
    }
    .fruitchat>.fruitchatouter>.fruitchatinner>.listitem>ul>li{
        margin: .9rem 0%;
        width:100%;
    }

    .fruitchat>.fruitchatouter>.fruitchatinner>.instructions>ul>li{
        margin: 1.8rem;
        margin-left:5px;
 
     
    }

    .fruitchat>.fruitchatouter>.fruitchatinner>.instructions>ul>li span{
        width: 30px;
        height: 30px;
        margin-right: 20px;
  
    }
}