@import '@fortawesome/fontawesome-free/css/all.css';
.chatpataaconeheader{
    padding-top: 8rem;
    width: 100%;
    margin: auto;
    padding-left: 8rem;
}
.chatpataaconeheader>h1{
margin-bottom: 3rem;
}
.chatpataaconeheader>.conechatoutercover{
    width: 90%;
    height: auto;
    background-color: rgba(255, 239, 192, 0.413);
    padding: 5rem 0%;
}

.chatpataaconeheader>.conechatoutercover>.conechatinnercover{
    width: 80%;
    margin: auto;
}
.chatpataaconeheader>.conechatoutercover>.conechatinnercover>img{
    width:100%;
   height: 15rem;
}
.chatpataaconeheader>.conechatoutercover>.conechatinnercover>p{
    margin: 3rem 0%;
    font-size: 25px;
    font-weight: 550;
}
.chatpataaconeheader>.conechatoutercover>.conechatinnercover>hr{
    opacity: .3;
    margin-bottom: 3rem;
}
.chatpataaconeheader>.conechatoutercover>.conechatinnercover>.listitem{
    margin-bottom: 2rem;
}

.chatpataaconeheader>.conechatoutercover>.conechatinnercover>.listitem>p{
    font-size:30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.chatpataaconeheader>.conechatoutercover>.conechatinnercover>.listitem>ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    margin-top: 2rem;
}
.chatpataaconeheader>.conechatoutercover>.conechatinnercover>.listitem>ul>li{
    display: flex;
    margin: .5rem 0%;
    width:20rem;
}
.chatpataaconeheader>.conechatoutercover>.conechatinnercover>.listitem>ul>li>.fa-check{
    margin-right: 30px;
    color: red;
    font-weight: 900;
}
.chatpataaconeheader>.conechatoutercover>.conechatinnercover>.instructions>p{
    margin: 3rem 0%;
    font-size: 25px;
    font-weight: 550;
    
}
.chatpataaconeheader>.conechatoutercover>.conechatinnercover>.instructions>ul{
    list-style-type: none;
}
.chatpataaconeheader>.conechatoutercover>.conechatinnercover>.instructions>ul>li{
    margin: 1.8rem;
    display: flex;
    align-items: center;
 
}
.chatpataaconeheader>.conechatoutercover>.conechatinnercover>.instructions>ul>li>span{
    width: 50px;
    height: 50px;
    margin-right: 40px;
    border-radius:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: red;
}

.chatpataaconeheader>.conechatoutercover>.conechatinnercover>.instructions>ul>li>p{
    width:100%;
}

.chatpataaconeheader>.conechatoutercover>.conechatinnercover>.lastimg{
    width: 100%;
    height: auto;
}

@media screen and (max-width:904px) {
    .chatpataaconeheader>.conechatoutercover{
        width:95%;   
    }
    .chatpataaconeheader{
        padding-left: 3rem;
    }
}
@media screen and (max-width:788px) {
    .chatpataaconeheader>.conechatoutercover>.conechatinnercover{
        width: 95%;
        margin: auto;
    }
}
@media screen and (max-width:715px) {
    .chatpataaconeheader{
        padding-left: .2rem;
    }
    .chatpataaconeheader>.conechatoutercover{
        width:100%;   
    }
    .chatpataaconeheader>.conechatoutercover>.conechatinnercover>.listitem>ul{
        display: block;
    }
    .chatpataaconeheader>.conechatoutercover>.conechatinnercover>.listitem>ul>li{
        margin: .9rem 0%;
        width:100%;
    }

    .chatpataaconeheader>.conechatoutercover>.conechatinnercover>.instructions>ul>li{
        margin: 1.8rem;
        margin-left:5px;
 
     
    }

    .chatpataaconeheader>.conechatoutercover>.conechatinnercover>.instructions>ul>li span{
        width: 30px;
        height: 30px;
        margin-right: 20px;
  
    }
}